
#parent {
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
    border: 2px solid black;
    /* display: flex;
    justify-content: space-evenly;
    align-items: end; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}


.cont {
    border: 2px solid black;
    background-color: greenyellow;
    margin: 10px;
}


.c1 {
    border : 2px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
}


.c2 {
    border: 2px solid black;
    grid-row-start: 2;
    grid-row-end: 4;
}


.c3 {
    grid-column-start: 2;
    grid-column-end: 4;
}


.c6 {
    grid-column-start: 1;
    grid-column-end: 4;
}