#parent {
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
    border: 2px solid black;
    /* display: flex;
    justify-content: space-evenly;
    align-items: end; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}


.cont {
    border: 2px solid black;
    background-color: greenyellow;
    margin: 2px;
    width: 250px;
}

.c1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 12;
    height: 100vh;
}

.c2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:6;
}

.c3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end:12;
}

.c4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:4;
}

.c5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end:8;
}

.c6 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 12;
}


.c7 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
}


.c8 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 6;
}


.c9 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 9;
}



.c10 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 10;
    grid-row-end: 12;
}

.c11 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}

.c12 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
}

.c13 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 6;
}


.c14 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 8;
}


.c15 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 10;
}


.c16 {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 11;
    grid-row-end: 12;
}

.c17 {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 1;
}

.c18 {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 2;
}

.c19 {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 3;
}

.c20 {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 4;
}

.c21 {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 5;
}

.c22 {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 6;
    grid-row-end: 6;
}

.c23 {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 7;
    grid-row-end: 7;
}

.c24 {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 8;
    grid-row-end: 8;
}

.c25 {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 9;
}

.c26 {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 10;
    grid-row-end: 10;
}

.c27 {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 11;
    grid-row-end: 11;
}


.c28 {
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 12;
    grid-row-end: 12;
}



